<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap-fileinput/4.4.2/css/fileinput.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap-fileinput/4.4.2/js/fileinput.min.js">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap-fileinput/4.4.2/js/locales/zh.js">
    <link rel="stylesheet" href="../static/css/me.css">
    <title>微信众测</title>
</head>
<body>

    <!--中间内容-->
    <div class="m-padded-tb-large m-container m-padded-tb-big">
        <div class="ui m-container-small">
            <!--header-->
            <div class="ui top attached segment">
                <div class="ui middle aligned two column grid">
                    <div class="column">
                        <h3 class="ui header middle aligned m-text-thin-middle">测试报告名称#test</h3>
                    </div>
                    <div class="right aligned column">
                        <button class="ui button">编辑</button>
                        <!--共<h2 class="ui orange header m-inline-block m-text-thin">14</h2>篇-->
                    </div>
                </div>
            </div>

            <!--提交列表-->
            <div class="ui bottom attached segment center aligned">
                <!--关键词-->
                <div class="ui">
                    <div class="ui two column grid">
                        <div class="five wide column right aligned m-margin-tb">
                            <div class="ui attached">关键词<a class="ui" style="color: red;">*</a></div>
                        </div>
                        <div class="eleven wide column left aligned m-padded-lr-tiny">
                            <div class="ui input focus"><input type="text" id="keyWord" placeholder="请输入关键词" style="width: 300px;"></div>
                        </div>
                    </div>
                </div>

                <!--搜索-->
                <div class="ui segments">
                    <!--百度搜索-->
                    <div class="ui segment">
                        <div class="ui two column grid">
                            <div class="five wide column right aligned m-margin-tb ">
                                <div class="ui attached"><a href="#" onclick="jump()" id="baiduSearch" title="点击这里" target="_blank">百度搜索</a></div>
                            </div>
                            <div class="eleven wide column left aligned">
                                <div class="ui selection">
                                    <select class="ui dropdown rounded" style="width: 300px;">
                                        <option>--评分--</option>
                                        <option>3分-结果整体都很好</option>
                                        <option>2分-部分质量很好，其他一般</option>
                                        <option>1分-大多质量不好</option>
                                        <option>0分-都很差</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="ui two column grid">
                                <div class="five wide column right aligned m-margin-tb ">
                                    <div class="ui attached">评价</div>
                                </div>
                                <div class="eleven wide column left aligned">
                                    <div class="field m-mobile-wide">
                                        <textarea rows="10" cols="39" id="comment" name="content" placeholder="#"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="ui two column grid">
                                <div class="five wide column right aligned m-margin-tb">
                                    <div class="ui attached">上传文件</div>
                                </div>
                                <div class="eleven wide column left aligned">
                                    <!--<div class="ui upload image">-->
                                        <!--<input type="file">-->
                                    <!--</div>-->
                                    <span class="ui left action input-file" onchange="upload()">
                                        <button class="ui button">上传文件</button>
                                        <input class="ui" type="file"  value="未选择任何文件">未选择任何文件
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--搜狗搜索-->
                    <div class="ui segment attached">
                        <div class="ui two column grid">
                            <div class="five wide column right aligned m-margin-tb ">
                                <div class="ui attached"><a id="sougouSearch" href="#" onclick="jump1()" target="_blank" title="点击这里">搜狗搜索</a></div>
                            </div>
                            <div class="eleven wide column left aligned">
                                <div class="ui selection">
                                    <select class="ui dropdown rounded" style="width: 300px;">
                                        <option>--评分--</option>
                                        <option>3分-结果整体都很好</option>
                                        <option>2分-部分质量很好，其他一般</option>
                                        <option>1分-大多质量不好</option>
                                        <option>0分-都很差</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="ui two column grid">
                                <div class="five wide column right aligned m-margin-tb ">
                                    <div class="ui attached">评价</div>
                                </div>
                                <div class="eleven wide column left aligned">
                                    <div class="field m-mobile-wide">
                                        <textarea rows="10" cols="39" id="comment1" name="content" placeholder="请输入评论。。。"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="ui two column grid">
                                <div class="five wide column right aligned m-margin-tb">
                                    <div class="ui attached">上传文件</div>

                                </div>
                                <div class="eleven wide column left aligned">
                                    <span class="ui left action input-file" onchange="upload()">
                                        <button class="ui button">上传文件</button>
                                        <input class="ui" type="file"  value="未选择任何文件">未选择任何文件
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--微信搜一搜-->
                    <div class="ui segment attached">
                        <div class="ui two column grid">
                            <div class="five wide column right aligned m-margin-tb ">
                                <div class="ui attached">微信搜一搜</div>
                            </div>
                            <div class="eleven wide column left aligned">
                                <div class="ui selection">
                                    <select class="ui dropdown rounded" style=" width: 300px;">
                                        <option>--评分--</option>
                                        <option>3分-结果整体都很好</option>
                                        <option>2分-部分质量很好，其他一般</option>
                                        <option>1分-大多质量不好</option>
                                        <option>0分-都很差</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="ui two column grid">
                                <div class="five wide column right aligned m-margin-tb ">
                                    <div class="ui attached">评价</div>
                                </div>
                                <div class="eleven wide column left aligned">
                                    <div class="field m-mobile-wide">
                                        <textarea rows="10" cols="39" id="comment2" name="content" placeholder="请输入评论。。。"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="ui">
                            <div class="ui two column grid">
                                <div class="five wide column right aligned m-margin-tb">
                                    <div class="ui attached">上传文件</div>

                                </div>
                                <div class="eleven wide column left aligned">
                                    <span class="ui left action input-file" id="span1" onchange="upload()">
                                        <button class="ui button">上传文件</button>
                                        <input class="ui" type="file" id="uploadFile">
                                        未选择任何文件
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div>
                    <button class="ui primary button m-padded-lr">
                        保存
                    </button>
                    <button class="ui button m-padded-lr">
                        取消
                    </button>
                </div>
            </div>
        </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script>
    $('menu.toggle').click(function () {
        $(".m-item").toggleClass('m-mobile-hide');
    })

    $('#payButton').popup(
        {
            popup:$('.payQR.popup'),
            on: 'click',
            position:'bottom center'
        }
    )

    function jump() {
        var h = document.getElementById("keyWord");
        var hr = "https://www.baidu.com/s?wd="+encodeURI(h.value);
        document.getElementById('baiduSearch').setAttribute("href", hr);
    }

    function jump1() {
        var h = document.getElementById('keyWord');
        var hr = "https://www.sogou.com/web?query="+encodeURI(h.value);
        document.getElementById('sougouSearch').setAttribute("href", hr);
    }

    var file = document.getElementById("uploadFile").files;
    var span1 = document.getElementById("id");

    function upload() {
        // var  file = $("#uploadFile").val();
        // var fileName = getFileName(file);

        span1.value = file.value;
    }


    var comments = "请简要说明原因。\n 示例：综合来说，搜索结果跟搜索词相关可用，其中第一条是官方网站，其余两条都是相关性强、来源权威且时效性好，最后一条是完全不相关的内容（ps：不用跟这个句式结构一模一样，简明的说清楚你的打分依据即可）";
    document.getElementById("comment").setAttribute("placeholder", comments);
    document.getElementById("comment1").setAttribute("placeholder", comments);
    document.getElementById("comment2").setAttribute("placeholder", comments);
</script>
</body>
</html>